{% extends "portal/base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "Speaker portal" %}
{% endblock head_title %}
{% block content %}
    <h1 class="h3 mb-1">
        {% trans "Speaker portal" %}
    </h1>
    <p class="text-secondary">
        {% blocktranslate with conference=conference.name %}This is where {{ conference }} presenters manage their sessions. You are signed in with an account that is not on the program; if you were invited, use the link in your invitation email.{% endblocktranslate %}
    </p>
{% endblock content %}
