{% extends "speakers/_organize_shell.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load render_table from django_tables2 %}
{% block head_title %}
    {% trans "Presenters" %}
{% endblock head_title %}
{% block breadcrumb %}
    {% trans "Presenters" as bc_section %}
    {% include "portal/_breadcrumbs.html" with section=bc_section %}
{% endblock breadcrumb %}
{% block content %}
    <div class="d-flex flex-wrap align-items-center justify-content-between gap-2 mb-3">
        <div>
            <h1 class="h3 mb-0">
                {% trans "Presenters" %}
            </h1>
            <p class="text-secondary mb-0">
                {% trans "Speakers, panelists, moderators, hosts and performers, and where their invitations stand." %}
            </p>
        </div>
        {% if is_organizer %}
            <a class="btn btn-primary" href="{% url 'speakers:presenter_create' %}">
                <i class="fa-solid fa-plus"></i> {% trans "New presenter" %}
            </a>
        {% endif %}
    </div>
    <form method="get" class="row row-cols-lg-auto g-2 align-items-end mb-3">
        {% bootstrap_form filter.form layout="inline" %}
        <div class="col-12">
            {% bootstrap_button "Filter" button_type="submit" button_class="btn-secondary" %}
            {% if filter.form.is_bound %}
                <a href="{% url 'speakers:presenter_list' %}" class="btn btn-link">{% trans "Reset" %}</a>
            {% endif %}
        </div>
    </form>
    {% render_table table %}
{% endblock content %}
