{% extends "speakers/_organize_shell.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "Presenters" %}
{% endblock head_title %}
{% block breadcrumb %}
    {% trans "Presenters" as bc_section %}
    {% include "portal/_breadcrumbs.html" with section=bc_section %}
{% endblock breadcrumb %}
{% block layout %}
    {% if data_view %}
        {# The data view: no rail, no container cap, the table takes the screen. #}
        <div class="page-wide">
            {% include "speakers/_presenter_list_content.html" %}
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock layout %}
{% block content %}
    {% include "speakers/_presenter_list_content.html" %}
{% endblock content %}
