{% extends "speakers/_organize_shell.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block head_title %}
    {% if object.pk %}
        {% trans "Edit presenter" %}
    {% else %}
        {% trans "New presenter" %}
    {% endif %}
{% endblock head_title %}
{% block breadcrumb %}
    {% url 'speakers:presenter_list' as bc_url %}
    {% trans "Presenters" as bc_section %}
    {% if object.pk %}
        {% include "portal/_breadcrumbs.html" with section=bc_section section_url=bc_url page=object.display_name %}
    {% else %}
        {% trans "New presenter" as bc_page %}
        {% include "portal/_breadcrumbs.html" with section=bc_section section_url=bc_url page=bc_page %}
    {% endif %}
{% endblock breadcrumb %}
{% block content %}
    <h1 class="h3 mb-3">
        {% if object.pk %}
            {% blocktranslate with name=object.display_name %}Edit {{ name }}{% endblocktranslate %}
        {% else %}
            {% trans "New presenter" %}
        {% endif %}
    </h1>
    <form method="post" enctype="multipart/form-data" class="col-lg-8">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "Save" button_type="submit" %}
        {% if object.pk %}
            <a href="{{ object.get_absolute_url }}" class="btn btn-link">{% trans "Cancel" %}</a>
        {% else %}
            <a href="{% url 'speakers:presenter_list' %}" class="btn btn-link">{% trans "Cancel" %}</a>
        {% endif %}
    </form>
{% endblock content %}
