<div class="container border rounded-3 p-3 mb-4">
    <div class="row">
        <div class="col-sm-3">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">
                        Volunteers Signed Up
                    </h5>
                    <p class="display-4 text-primary mb-0">
                        {{ stats.volunteer_signups_count }}
                    </p>
                    <span class="text-muted">for {{ stats.volunteer_teams_count }} teams</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">
                        Volunteers Onboarded
                    </h5>
                    <p class="display-4 text-success mb-0">
                        {{ stats.volunteer_onboarded_count }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">
                        About our Volunteers
                    </h5>
                    <span class="text-muted">They speak</span>
                    <p class="display-4 text-info mb-0">
                        {{ stats.volunteer_languages_count }} Languages
                    </p>
                    <span class="text-muted">They're from </span>
                    <p class="display-4 text-info mb-0">
                        {{ stats.volunteer_pyladies_chapters_count }} PyLadies Chapters
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        {% for breakdown in stats.volunteer_breakdown %}
            <div class="col-12 mb-4">
                {# djlint:off H021 #}
                <div id="{{ breakdown.chart_id }}" style="width: 100%; min-height: 500px">
                </div>
                {# djlint:on H021 #}
            </div>
        {% endfor %}
    </div>
</div>
