{% for breakdown in stats.volunteer_breakdown %}
    var data = google.visualization.arrayToDataTable([
    ['{{ breakdown.columns.0 }}', '{{ breakdown.columns.1 }}'],
    {% for data in breakdown.data %}
        ['{{ data.0 }}', {{ data.1 }},],
    {% endfor %}
    ]);
    var paddingHeight = 120;
    var rowHeight = 40;
    var chartHeight = Math.max(500, (data.getNumberOfRows() * rowHeight) + paddingHeight);
    document.getElementById('{{ breakdown.chart_id }}').style.height = chartHeight + 'px';
    var options = {
    chart: {
    'title':'{{ breakdown.title }}'
    },
    hAxis: {title: '{{ breakdown.columns.1 }}', minValue: 0, format:'0'},
    vAxis: {title: '{{ breakdown.columns.0 }}'},
    height: chartHeight,
    chartArea: {
    width: '75%',
    height: '85%'
    },
    bars: 'horizontal'
    };
    var chart = new google.charts.Bar(document.getElementById('{{ breakdown.chart_id }}'));
    chart.draw(data, google.charts.Bar.convertOptions(options));
{% endfor %}
