{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% load django_bootstrap5 %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Sign Up" %}
    {% endelement %}
    {% setvar link %}
        <a href="{{ login_url }}">
        {% endsetvar %}
        {% setvar end_link %}
        </a>
    {% endsetvar %}
    {% element p %}
        {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
    {% endelement %}
    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
        <form method="post" action="{{ action_url }}" class="entrance signup">
            {% csrf_token %}
            
            <h3 class="mb-3">Personal Information</h3>
            {% bootstrap_field form.username %}
            {% bootstrap_field form.email %}
            {% bootstrap_field form.first_name %}
            {% bootstrap_field form.last_name %}
            
            <h3 class="mb-3">Password</h3>
            {% bootstrap_field form.password1 %}
            {% bootstrap_field form.password2 %}
            
            <h3 class="mb-3">Agreements</h3>
            <div class="card mb-3">
                <div class="card-body">
                    <p>By creating an account, you are agreeing to our terms and conditions.</p>
                    
                    <div class="form-check mb-3">
                        {{ form.coc_agreement }}
                        <label class="form-check-label" for="{{ form.coc_agreement.id_for_label }}">
                            I agree to the <a href="https://global-conference-2025.netlify.app/en/coc/" target="_blank" rel="noopener noreferrer">Code of Conduct</a>
                        </label>
                        {% if form.coc_agreement.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.coc_agreement.errors }}
                            </div>
                        {% endif %}
                        <div class="form-text">{{ form.coc_agreement.help_text }}</div>
                    </div>
                    
                    <div class="form-check">
                        {{ form.tos_agreement }}
                        <label class="form-check-label" for="{{ form.tos_agreement.id_for_label }}">
                            I agree to the <a href="https://pyladiescon-portal-docs.netlify.app/policies/terms_of_use/" target="_blank" rel="noopener noreferrer">Terms of Service</a>
                        </label>
                        {% if form.tos_agreement.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.tos_agreement.errors }}
                            </div>
                        {% endif %}
                        <div class="form-text">{{ form.tos_agreement.help_text }}</div>
                    </div>
                </div>
            </div>
            
            {{ redirect_field }}
            
            <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg" type="submit">{% trans "Sign Up" %}</button>
            </div>
        </form>
    {% endif %}
    
    {% if PASSKEY_SIGNUP_ENABLED %}
        {% element hr %}
        {% endelement %}
        {% element button href=signup_by_passkey_url tags="prominent,signup,outline,primary" %}
            {% trans "Sign up using a passkey" %}
        {% endelement %}
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}