*.pyc
*~
.*.sw[op]
*.egg-info
/dist
/build
automation/build
docs/_build/
distribute-*
.DS_Store
.python-version
.pytest_cache
.coverage
.coverage.*
coverage.xml
venv*/
.vscode/
.eggs/
.tox/
/local
.envrc
.env.dev
.env.prod
.env.prod.db
.env
.venv
venv
env

.coverage
.state
staticroot
