{% extends "portal/base.html" %}
{% load allauth i18n %}
{% load django_bootstrap5 %}
{% block body %}
{% endblock body %}
{% block content %}
    <div class="container px-4 py-3" id="featured-3">
        <h2 class="pb-2 border-bottom">
            PyLadiesCon Portal
        </h2>
        {% if user.is_authenticated %}
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                {# ---- My volunteering (everyone) ---- #}
                <div class="feature col">
                    <div class="d-inline-flex align-items-center justify-content-center fa-3x mb-3">
                        <i class="fa-solid fa-user-group"></i>
                    </div>
                    <h3 class="fs-2 text-body-emphasis">
                        {% trans "My volunteering" %}
                    </h3>
                    <p>
                        {% if volunteer_profile %}
                            {% translate "Manage your volunteer profile and availability, and see the editions you've signed up for." %}
                        {% else %}
                            {% translate "Sign up to volunteer with us! Fill in your volunteer profile and we'll get you set up." %}
                        {% endif %}
                    </p>
                    <ul class="list-unstyled ps-8">
                        {% if volunteer_profile %}
                            <li>
                                <a href="{% url 'volunteer:index' %}" class="icon-link">
                                    {% translate "Manage my profile" %}
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'volunteer:my_conferences' %}" class="icon-link">
                                    {% translate "My conferences" %}
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'volunteer:volunteer_profile_new' %}" class="icon-link">
                                    {% translate "Volunteer now" %}
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                {# ---- Sponsorship (one adaptive card) ---- #}
                {% if can_view_sponsorship %}
                    <div class="feature col">
                        <div class="d-inline-flex align-items-center justify-content-center fa-3x mb-3">
                            <i class="fa-solid fa-hand-holding-dollar"></i>
                        </div>
                        <h3 class="fs-2 text-body-emphasis">
                            {% trans "Sponsorship" %}
                            {% if can_manage_sponsorship %}
                                <span class="badge text-bg-success align-middle fs-6">{% trans "Manage" %}</span>
                            {% else %}
                                <span class="badge text-bg-secondary align-middle fs-6">{% trans "Read-only" %}</span>
                            {% endif %}
                        </h3>
                        <p>
                            {% if can_manage_sponsorship %}
                                {% trans "The full sponsor pipeline, tiers, and invoicing." %}
                            {% else %}
                                {% trans "Browse this year's confirmed sponsors and packages." %}
                            {% endif %}
                        </p>
                        <ul class="list-unstyled ps-8">
                            <li>
                                <a href="{% url 'sponsorship:sponsorship_list' %}" class="icon-link">
                                    {% if can_manage_sponsorship %}
                                        {% trans "All sponsors" %}
                                    {% else %}
                                        {% trans "View sponsors" %}
                                    {% endif %}
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </li>
                            {% if can_manage_sponsorship %}
                                <li>
                                    <a href="{% url 'sponsorship:sponsorship_profile_new' %}"
                                       class="icon-link">
                                        {% trans "Add sponsor" %}
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'sponsorship:tier_list' %}" class="icon-link">
                                        {% trans "Manage tiers" %}
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="https://2025.conference.pyladies.com/en/sponsors/"
                                   class="icon-link">
                                    {% trans "Sponsorship packages" %}
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                {# ---- Organizer tools (admin/staff) ---- #}
                {% if is_organizer %}
                    <div class="feature col">
                        <div class="d-inline-flex align-items-center justify-content-center fa-3x mb-3">
                            <i class="fa-solid fa-screwdriver-wrench"></i>
                        </div>
                        <h3 class="fs-2 text-body-emphasis">
                            {% trans "Organizer tools" %}
                        </h3>
                        <p>
                            {% trans "Review volunteers, manage teams, and run conference editions." %}
                        </p>
                        <ul class="list-unstyled ps-8">
                            <li>
                                <a href="{% url 'volunteer:volunteers_list' %}" class="icon-link">
                                    {% trans "Volunteers" %}
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'teams' %}" class="icon-link">
                                    {% trans "Teams" %}
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'conference_list' %}" class="icon-link">
                                    {% trans "Conferences" %}
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </li>
                            {% if can_start_next_year %}
                                <li>
                                    <a href="{% url 'start_new_year' %}" class="icon-link">
                                        {% trans "Start next year" %}
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'admin:index' %}" class="icon-link">
                                    {% trans "Admin area" %}
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            {# ---- Resources, grouped by role (external reference) ---- #}
            <div class="row pb-5">
                <div class="col">
                    <h3 class="fs-4 text-body-emphasis pb-2 border-bottom">
                        {% trans "Resources" %}
                    </h3>
                    <div class="row row-cols-1 row-cols-md-3 g-4 pt-3">
                        <div class="col">
                            <h4 class="fs-6 text-uppercase text-secondary">
                                {% trans "Volunteering" %}
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://conference.pyladies.com/docs/" class="icon-link">
                                        {% trans "Team descriptions" %}
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://conference.pyladies.com/docs/roles_and_responsibilities/"
                                       class="icon-link">
                                        {% trans "Responsibilities" %}
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://discord.com/invite/2fUN4ddVfP" class="icon-link">
                                        {% trans "Join our Discord" %}
                                        <i class="fa-brands fa-discord"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <h4 class="fs-6 text-uppercase text-secondary">
                                {% trans "Speaking" %}
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://conference.pyladies.com/docs/speakers/speaker_guide/"
                                       class="icon-link">
                                        {% trans "Speaker guide" %}
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://conference.pyladies.com/docs/speakers/keynote_speaker_guide/"
                                       class="icon-link">
                                        {% trans "Keynote speaker guide" %}
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <h4 class="fs-6 text-uppercase text-secondary">
                                {% trans "Sponsorship and finance" %}
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://2025.conference.pyladies.com/en/sponsors/"
                                       class="icon-link">
                                        {% trans "Sponsorship prospectus" %}
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
                <div class="col d-flex flex-column align-items-start gap-2">
                    <h2 class="fw-bold text-body-emphasis">
                        Welcome to the <a href="https://conference.pyladies.com">PyLadiesCon</a> Conference Management Portal.
                    </h2>
                    <p class="text-body-secondary">
                        Interested in volunteering with us? You're in the right place!
                        <a href="{% url 'account_signup' %}">Sign up</a> for an account to get started, and then fill in your Volunteer Profile.
                    </p>
                    <p>
                        <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg">Sign up!</a>
                        <a href="{% url 'account_login' %}"
                           class="btn btn-outline-primary btn-lg">Sign in</a>
                    </p>
                    <p class="text-body-secondary">
                        Join {{ stats.volunteer_signups_count }} volunteers who have signed up!
                    </p>
                </div>
                <div class="col">
                    <div class="row row-cols-1 row-cols-sm-2 g-4">
                        <div class="col d-flex flex-column gap-2">
                            <h4 class="fw-semibold mb-0 text-body-emphasis">
                                Sign up to Volunteer
                            </h4>
                            <p class="text-body-secondary">
                                We're always looking for volunteers and team members! Sign up and fill in your volunteer profile to get started
                            </p>
                            <a href="{% url 'account_signup' %}">Sign up</a>
                        </div>
                        <div class="col d-flex flex-column gap-2">
                            <h4 class="fw-semibold mb-0 text-body-emphasis">
                                Our Open Roles
                            </h4>
                            <p class="text-body-secondary">
                                We have various roles available, like the communications committee,
                                design, finance, infrastructure, and programs committee. Not sure which team to join? Read
                                our docs to learn what each team is about.
                            </p>
                            <a href="https://conference.pyladies.com/docs/">Learn about the roles</a>
                        </div>
                        <div class="col d-flex flex-column gap-2">
                            <h4 class="fw-semibold mb-0 text-body-emphasis">
                                Responsibilities
                            </h4>
                            <p class="text-body-secondary">
                                Familiarize yourself with your responsibilities and the required commitments as one of our volunteers.
                            </p>
                            <a href="https://conference.pyladies.com/docs/roles_and_responsibilities/">Understand the responsibilities</a>
                        </div>
                        <div class="col d-flex flex-column gap-2">
                            <h4 class="fw-semibold mb-0 text-body-emphasis">
                                Support us!
                            </h4>
                            <p class="text-body-secondary">
                                Sponsor and donate to the conference!
                            </p>
                            <a href="https://2025.conference.pyladies.com/en/sponsors/">Sponsorship Prospectus</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
