<!-- Registration Callout -->
<div class="container my-5 ">
    <div class="row text-center">
        <h2 class="fw-bold text-body-emphasis">
            Register for <a href="https://2025.conference.pyladies.com">PyLadiesCon</a> now!
        </h2>
        <p class="text-body-secondary">
            5th-7th December | Multi-language | Multi-timezone
        </p>
        <p>
            <a href="https://2025.conference.pyladies.com/en/schedule/"
               class="btn btn-outline-primary btn-lg">View Schedule</a>
            <a href="https://pretix.eu/pyladiescon/2025/"
               class="btn btn-primary btn-lg">Get Your Ticket</a>
        </p>
    </div>
    <div class="card border-0 text-center">
        <div class="card-body">
            <h5 class="card-title">
                Join
            </h5>
            <h1 class="display-4 text-success">
                {{ stats.attendee_count }}
            </h1>
            <span class="text-muted">other attendees for three days of learning, inspiration, and connection.</span>
        </div>
    </div>
</div>
