{% extends "emails/base_email.html" %}
{% load i18n %}
{% block content %}
    <p>
        {{ profile.user.first_name }}, thank you for applying to volunteer with us.
    </p>
    {% if updated %}
        <p>
            Your volunteer profile has recently been updated.
        </p>
    {% endif %}
    <p>
        We received many volunteer applications, and we're not able to accept everyone.
        At this time, the team you've applied for is at full capacity.
    </p>
    <p>
        We are placing you on a waitlist in case the volunteer opportunity opens up in the future.
    </p>
    <p>
        Thank you for your understanding and for your interest in volunteering with us!
    </p>
    <p>
        Your information:
    </p>
    <ul>
        <li>
            Your availability: {{ profile.availability_hours_per_week }} hours per week
        </li>
        <li>
            GitHub username: {{ profile.github_username }}
        </li>
        <li>
            Discord username: {{ profile.discord_username }}
        </li>
        <li>
            Instagram username: {{ profile.instagram_username }}
        </li>
        <li>
            Bluesky username: {{ profile.bluesky_username }}
        </li>
        <li>
            Mastodon URL: {{ profile.mastodon_url }}
        </li>
        <li>
            X username: {{ profile.x_username }}
        </li>
        <li>
            LinkedIn URL: {{ profile.linkedin_url }}
        </li>
        <li>
            PyLadies Chapter: {{ profile.chapter }}
        </li>
        <li>
            Region: {{ profile.region }}
        </li>
        <li>
            Languages spoken: {{ profile.languages_spoken|join:", " }}
        </li>
        <li>
            Additional Comments: {{ profile.additional_comments }}
        </li>
    </ul>
    <p>
        If you would like to review or update your application at any time, go to your <a href="https://{{ current_site.domain }}{% url 'volunteer:index' %}">Volunteer Dashboard</a>
    </p>
{% endblock content %}
