{% extends "emails/base_email.html" %}
{% load i18n %}
{% block content %}
    <p>
        {{ profile.user.first_name }}, thank you for applying to volunteer with us.
    </p>
    {% if updated %}
        <p>
            Your volunteer profile has recently been updated.
        </p>
    {% endif %}
    <p>
        Your current volunteer application status: <strong>{{ profile.application_status }}</strong>.
    </p>
    <p>
        Your information:
    </p>
    <ul>
        <li>
            Your availability: {{ profile.availability_hours_per_week }} hours per week
        </li>
        <li>
            GitHub username: {{ profile.github_username }}
        </li>
        <li>
            Discord username: {{ profile.discord_username }}
        </li>
        <li>
            Instagram username: {{ profile.instagram_username }}
        </li>
        <li>
            Bluesky username: {{ profile.bluesky_username }}
        </li>
        <li>
            Mastodon URL: {{ profile.mastodon_url }}
        </li>
        <li>
            X username: {{ profile.x_username }}
        </li>
        <li>
            LinkedIn URL: {{ profile.linkedin_url }}
        </li>
        <li>
            PyLadies Chapter: {{ profile.chapter }}
        </li>
        <li>
            Region: {{ profile.region }}
        </li>
        <li>
            Languages spoken: {{ profile.languages_spoken|join:", " }}
        </li>
        <li>
            Additional Comments: {{ profile.additional_comments }}
        </li>
    </ul>
    <p>
        If you would like to review or update your application at any time, go to your <a href="https://{{ current_site.domain }}{% url 'volunteer:index' %}">Volunteer Dashboard</a>
    </p>
    <p>
        Be sure to join our <a href="https://discord.com/invite/2fUN4ddVfP">Discord server</a>. All of our volunteers are required to
        join the server to communicate and collaborate with the rest of the team.
    </p>
{% endblock content %}
