{% extends "portal/base.html" %}
{% load allauth i18n %}
{% load django_bootstrap5 %}

{% block body %}
    {% if messages %}
        <div>
            <strong>{% trans "Messages:" %}</strong>
            <ul>
                {% for message in messages %}<li>{{ message }}</li>{% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
            <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
            <h1 class="text-body-emphasis">PyLadiesCon Web Portal</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted">
                Welcome to our PyLadiesCon Conference Management Portal.
                <br> Sign up to volunteer with us.
            </p>
            <div class="d-inline-flex gap-2 mb-5">

                {% if user.is_authenticated %}
                    <ul>
                        {% if user.is_superuser %}
                            <li>
                                <a href="{% url 'admin:index' %}">{% trans "Admin Area" %}</a>
                            </li>
                        {% endif %}
                        {% url 'account_email' as email_url_ %}
                            {% if email_url_ %}
                                <li>
                                    <a href="{{ email_url_ }}">{% trans "Change Email" %}</a>
                                </li>
                            {% endif %}
                            {% url 'account_change_password' as change_password_url_ %}
                            {% if change_password_url_ %}
                                <li>
                                    <a href="{{ change_password_url_ }}">{% trans "Change Password" %}</a>
                                </li>
                            {% endif %}
                            {% url 'socialaccount_connections' as connections_url_ %}
                            {% if connections_url_ %}
                                <li>
                                    <a href="{{ connections_url_ }}">{% trans "Account Connections" %}</a>
                                </li>
                            {% endif %}
                            {% url 'mfa_index' as mfa_url_ %}
                            {% if mfa_url_ %}
                                <li>
                                    <a href="{{ mfa_url_ }}">{% trans "Two-Factor Authentication" %}</a>
                                </li>
                            {% endif %}
                            {% url 'usersessions_list' as usersessions_list_url_ %}
                            {% if usersessions_list_url_ %}
                                <li>
                                    <a href="{{ usersessions_list_url_ }}">{% trans "Sessions" %}</a>
                                </li>
                            {% endif %}
                            {% url 'account_logout' as logout_url_ %}
                            {% if logout_url_ %}
                                <li>
                                    <a href="{{ logout_url_ }}">{% trans "Sign Out" %}</a>
                                </li>
                            {% endif %}
                    </ul>


                {% else %}
                    <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" href="{% url 'account_signup' %}" role="button">
                        Sign up
                        <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
                    </a>
                    <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill" href="{% url 'account_login' %}" role="button">
                        Login
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}