{% load portal_extras %}
<div class="container  border rounded-3 p-3 mb-4">
    <div class="row">
        <div class="col-sm-3">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">
                        Number of Sponsors Committed
                    </h5>
                    <h1 class="display-4 text-primary">
                        {{ stats.sponsorship_committed_count }}
                    </h1>
                    <span class="text-muted">out of {{ stats.sponsorship_total_count }} that were contacted</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">
                        Sponsorship Paid
                    </h5>
                    <h1 class="display-4 text-success">
                        {{ stats.sponsorship_paid_amount| as_currency }}
                    </h1>
                    <span class="text-muted">from {{ stats.sponsorship_paid_count }} sponsors</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">
                        Pending Sponsorship Amount
                    </h5>
                    <h1 class="display-4 text-warning">
                        {{ stats.sponsorship_pending_amount | as_currency }}
                    </h1>
                    <span class="text-muted">from {{ stats.sponsorship_pending_count }} sponsors</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">
                        Total Sponsorship Committed
                    </h5>
                    <h1 class="display-4 text-success">
                        {{ stats.sponsorship_committed_amount| as_currency }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
    {% if stats.donation_breakdown %}
        <div class="row">
            <div class="col-sm-6">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title">
                            Total Donations Received
                        </h5>
                        <h1 class="display-4 text-info">
                            {{ stats.donation_breakdown.total_donations_amount | as_currency }}
                        </h1>
                        <span class="text-muted">from {{ stats.donation_breakdown.donors_count }} individual donors</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title">
                            Donation Progress
                        </h5>
                        <h1 class="display-4 text-success">
                            {{ stats.donation_breakdown.donation_towards_goal_percent|floatformat:0 }}%
                        </h1>
                        <span class="text-muted">towards our donations goal of {{ stats.donations_goal| as_currency }}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-0 ">
                <div class="card-body">
                    <h5 class="card-title">
                        We've raised
                    </h5>
                    <h1 class="display-4 text-success">
                        {{ stats.sponsorship_towards_goal_percent|floatformat:0 }}%
                    </h1>
                    <span class="text-muted">towards our sponsorship goal of {{ stats.sponsorship_goal| as_currency }}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-0 text-bg-warning">
                <div class="card-body">
                    <h5 class="card-title">
                        Total Funds Raised
                    </h5>
                    <h1 class="display-4 text-success">
                        {{ stats.total_funds_raised| as_currency }}
                    </h1>
                    <span class="text-muted">from sponsorships and donations</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="progress">
            <div class="progress-bar bg-success"
                 role="progressbar"
                 style="width: {{ stats.sponsorship_paid_percent|floatformat:2 }}%"
                 aria-valuenow="{{ stats.sponsorship_paid_percent|floatformat:2 }}"
                 aria-valuemin="0"
                 aria-valuemax="100">
                {{ stats.sponsorship_paid_percent|floatformat:2 }}% paid
            </div>
        </div>
    </div>
    <div class="row">
        {% for breakdown in stats.sponsorship_breakdown %}
            <div class="col-6" id="{{ breakdown.chart_id }}">
            </div>
        {% endfor %}
    </div>
</div>
