<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Number of Sponsors Committed
                </h5>
                <h1 class="display-4 text-primary">
                    {{ stats.sponsorship_total_count }}
                </h1>
                <span class="text-muted">out of {{ stats.sponsorship_total_count }} that were contacted</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Sponsorship Paid
                </h5>
                <h1 class="display-4 text-success">
                    {{ stats.sponsorship_paid_amount }}
                </h1>
                <span class="text-muted">from {{ stats.sponsorship_paid_count }} sponsors</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Pending Sponsorship Amount
                </h5>
                <h1 class="display-4 text-warning">
                    {{ stats.sponsorship_pending_amount }}
                </h1>
                <span class="text-muted">from {{ stats.sponsorship_pending_count }} sponsors</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Total Sponsorship Committed
                </h5>
                <h1 class="display-4 text-success">
                    {{ stats.sponsorship_committed_amount }}
                </h1>
            </div>
        </div>
    </div>
</div>
