{% extends "portal/base.html" %}
{% load allauth i18n %}
{% load django_bootstrap5 %}
{% load static %}
{% block extra_head %}
    {{ block.super }}
{% endblock extra_head %}
{% block content %}
    <main>
        <h1 class="display-5">
            {% if object.pk %}
                Edit
            {% else %}
                Create
            {% endif %}
            Sponsorship Profile
        </h1>
        <p class="lead">
            {% if object.pk %}
                Update information below.
            {% else %}
                Fill in the information below.
            {% endif %}
        </p>
        <div class="row g-5">
            {% bootstrap_form_errors form %}
            <form action="{% if object.pk %}{#  url 'sponsorship:sponsorship_profile_edit' object.pk #}{% else %}{% url 'sponsorship:sponsorship_profile_new' %}{% endif %}"
                  method="post"
                  class="form">
                {% csrf_token %}
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title mb-0">
                            Basic Information
                        </h5>
                    </div>
                    <div class="card-body">
                        {% bootstrap_field form.main_contact_user %}
                        {% bootstrap_field form.organization_name %}
                        {% bootstrap_field form.sponsor_contact_name %}
                        {% bootstrap_field form.sponsors_contact_email %}
                        {% bootstrap_field form.po_number %}
                        {% bootstrap_field form.sponsorship_tier %}
                        {% bootstrap_field form.sponsorship_override_amount %}
                        {% bootstrap_field form.organization_address %}
                        {% bootstrap_field form.logo %}
                        {% bootstrap_field form.company_description %}
                        {% bootstrap_field form.progress_status %}
                    </div>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">
                        {% if object.pk %}
                            Update Profile
                        {% else %}
                            Create Profile
                        {% endif %}
                    </button>
                    {# {% if object.pk %}#}
                    {# <a href="{% url 'sponsorship:volunteer_profile_detail' object.pk %}" #}
                    {# class="btn btn-secondary">Cancel</a>#}
                    {# {% else %}#}
                    {# <a href="{% url 'volunteer:index' %}" class="btn btn-secondary">Cancel</a>#}
                    {# {% endif %}#}
                </div>
            </form>
        </div>
    </main>
{% endblock content %}
<!-- Compare this snippet from sponsorship/templates/sponsorship/sponsorship_profile_form.html: -->
