{% extends "portal/base.html" %}
{% load allauth i18n %}
{% load django_bootstrap5 %}
{% load render_table from django_tables2 %}
{% block body %}
{% endblock body %}
{% block content %}
    <h1 class="display-5">
        {% if request.user.is_superuser %}
            Manage Sponsors <a class="btn btn-primary"
    href="{% url 'sponsorship:sponsorship_profile_new' %}">Add New Sponsor</a>
        {% else %}
            View Sponsors
        {% endif %}
    </h1>
    {% include "sponsorship/sponsorship_stats.html" %}
    {% if filter %}
        <form action="" method="get" class="form">
            {% bootstrap_form filter.form %}
            {% bootstrap_button 'Search' %}
            {% if filter.form.is_bound %}
                <a href="{% url 'sponsorship:sponsorship_list' %}"
                   class="btn btn-secondary">Reset Filters</a>
            {% endif %}
        </form>
    {% endif %}
    {% render_table table %}
{% endblock content %}
