{% extends "volunteer/email/base_email.html" %}
{% load i18n %}
{% block content %}
    <p>
        Hello, {{ profile.user.first_name }}. We're writing to let you know that a new volunteer has just been approved and onboarded.
        Be sure to complete the rest of the onboarding process. They've been sent an introductory email with further instructions,
        however, there are some action items that you need to complete as well since not everything can be automated.
    </p>
    <p>
        The new team member is {{ profile.user.username }} ({{ profile.user.first_name }} {{ profile.user.last_name }}).
    </p>
    <p>
        They have been assigned to the following team(s):
    </p>
    <ul>
        {% for team in profile.teams.all %}
            <li>
                {{ team.short_name }}. Team Lead(s):
                {% for team_lead in team.team_leads.all %}
                    {{ team_lead.user.first_name }} {{ team_lead.user.last_name }}
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
    <p>
        They have been assigned the following role(s):
    </p>
    <ul>
        {% for role in profile.roles.all %}
            <li>
                {{ role.short_name }}
            </li>
        {% endfor %}
    </ul>
    <p>
        <strong>Action items</strong>
    </p>
    <ul>
        <li>
            Grant them the Volunteer role on Discord. Their Discord username is: <strong>{{ profile.discord_username }}</strong>.
        </li>
        <li>
            Say hi and welcome them on Discord.
        </li>
        <li>
            Give a shout out on social media! Check their <a href="https://{{ current_site.domain }}{% url 'volunteer:volunteer_profile_detail' profile.id %}">Volunteer Profile</a> for their social media handles.
        </li>
    </ul>
    {% if admin_onboarding %}
        <p>
            Since this is a new core-organizer, you will also need to grant them you additional privileges and access, such as:
        </p>
        <ul>
            <li>
                The Organizer Role on Discord
            </li>
            <li>
                Access to the <a href="https://drive.google.com/drive/folders/{{ GDRIVE_FOLDER_ID }}">PyLadiesCon GDrive</a>
            </li>
            <li>
                Invitation to <a href="https://letsjelly.com/">Jelly</a>
            </li>
            <li>
                Invitation to the PyLadiesCon Regular Meeting Calendar
            </li>
            <li>
                Invitation to the PyLadiesCon 1Password account
            </li>
        </ul>
        <p>
            Please complete the above tasks within 5 days. If you cannot complete these tasks, please reach out to the other core organizers on Discord.
        </p>
    {% endif %}
    <p>
        Thank you!
    </p>
{% endblock content %}
