{% extends "volunteer/email/base_email.html" %}
{% load i18n %}
{% block content %}
    <p>Volunteer application for {{ profile.user.first_name }}</p>
    {% if updated %}
        <p>
            Volunteer {{ profile.user.first_name }}'s profile has recently been updated.
        </p>
    {% endif %}
    <p>
    Volunteer application status: <strong>{{ profile.application_status }}</strong>.
    </p>
    <p>Volunteer Information:</p>
    <ul>
    <li>Availability: {{ profile.availability_hours_per_week }} hours per week</li>
    <li>GitHub username: {{ profile.github_username }}</li>
    <li>Discord username: {{ profile.discord_username }}</li>
    <li>Instagram username: {{ profile.instagram_username }}</li>
    <li>Bluesky username: {{ profile.bluesky_username }}</li>
    <li>Mastodon URL: {{ profile.mastodon_url }}</li>
    <li>X username: {{ profile.x_username }}</li>
    <li>LinkedIn URL: {{ profile.linkedin_url }}</li>
    <li>PyLadies Chapter: {{ profile.pyladies_chapter }}</li>
    <li>Region: {{ profile.region }}</li>
    <li>Languages spoken: {{ profile.languages_spoken|join:", " }}</li>
    <li>PyLadies Chapter: {{ profile.pyladies_chapter }}</li>
    <li>Additional Comments: {{ profile.additional_comments }}</li>
    </ul>
{% endblock content %}
