<p>
    Sponsorship Information:
</p>
<ul>
    <li>
        <b>Sponsor Organization Name</b>: {{ profile.organization_name }}
    </li>
    <li>
        <b>Sponsorship Tier</b>: {{ profile.sponsorship_tier }}
    </li>
    <li>
        <b>Company Description</b>: {{ profile.company_description }}
    </li>
    <li>
        <b>Sponsor Progress Status</b>: {{ profile.get_progress_status_display }}
    </li>
    <li>
        <b>Sponsor Contact Name</b>: {{ profile.sponsor_contact_name }}
    </li>
    <li>
        <b>Sponsor Contact Email</b>: {{ profile.sponsors_contact_email }}
    </li>
    <li>
        <b>Sponsor Address</b>: {{ profile.organization_address }}
    </li>
    <li>
        <b>Sponsorship Amount</b>:
        {% if profile.sponsorship_override_amount %}
            Custom Amount: {{ profile.sponsorship_override_amount }}
        {% else %}
            As per tier: {{ profile.sponsorship_tier.amount }}
        {% endif %}
    </li>
    <li>
        <b>Internal Contact User</b>: {{ profile.main_contact_user.get_full_name }}
    </li>
</ul>
