{% extends "portal/base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "Not available" %}
{% endblock head_title %}
{% block content %}
    <h1 class="h3 mb-1">
        {% trans "You cannot see this page" %}
    </h1>
    <p class="text-secondary">
        {% trans "It is not open to the account you are signed in with. If you were sent here by a link, the person who sent it can check what your account is meant to see." %}
    </p>
    <p>
        <a class="btn btn-primary" href="{% url 'index' %}">{% trans "Go to my home page" %}</a>
        {% if user.is_authenticated %}
            <a class="btn btn-outline-secondary" href="{% url 'account_logout' %}">{% trans "Sign out" %}</a>
        {% endif %}
    </p>
{% endblock content %}
